* {
  font-family: Raleway, sans-serif;
}
body {
  padding: 30px 180px;
  background-color: rgb(240, 240, 240);
}
@keyframes EditAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
.line {
  text-decoration: line-through;
}
.react-calendar {
  max-height: 280px;
}
@media screen and (min-width: 320px) and (max-width: 425px) {
  body {
    padding: 0;
  }
}
